<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.10.ee"/>
    <stringAttribute key="mule-agent-port" value="51718"/>
    <stringAttribute key="mule-agent-token-auth" value="591ed8bd-60aa-41b0-92a1-36b8abc13365"/>
    <listAttribute key="mule-project-names">
        <listEntry value="basic001"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="basic001"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
