<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.10.ee"/>
    <stringAttribute key="mule-agent-port" value="51135"/>
    <stringAttribute key="mule-agent-token-auth" value="35a10a4f-8628-4832-aa72-9bae13cd9687"/>
    <listAttribute key="mule-project-names">
        <listEntry value="batchlearning"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="batchlearning"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
